@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<p>Here are some projecs I have worked on lately:</p>
<p>
    <a href="https://github.com/mrrj/Sokoban">Sokoban</a>
    A browser game.
</p>
<p>
    <a href="https://github.com/mrrj/VendingMachine">Vending Machine</a>
    A vending machine.
</p>
<p>
    <a href="https://github.com/mrrj/Calculator">Calculator</a>
    A console calculator.
</p>
<p>
    <a href="https://github.com/mrrj/Hangman">Hangman</a>
    A console game.
</p>

